* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    background-color: whitesmoke;
    display: flex;
    
}

.Menu {
    position: relative; 
    display: flex;
    justify-content: center;
    width: 105%;
    height: 120px;
    background-color: whitesmoke;
    align-items: center;
    border-bottom: 3px solid black;
    left: 165px;
}

.Menu nav {

    padding: 0 30 px;
    text-align: center;

}


.logosettings img {
    
    width: 70px;
    height: 105px;
}


.Menu nav a {
    color: black;
    text-decoration: none;
    font-size: 1.6em;
    margin: 40px; 
    margin-right: 40px;
}

.WelcomeOne {
position: relative;
top: 90px;
left: 160px;
height: 235px;
background-color: #d9d9d9;
width: 55%;
}


.WelcomeOne h1 {
    font-size: 2em;
    text-decoration: none;
    font-weight: normal;
    position:relative;
    left: 60px;
}

.WelcomeOne h2 {
    font-size: 1.8em;
    font-weight: lighter;
    position: relative;
    left: 60px;
}

.mainPicture {
    position: relative;
    width: 400px;
    left: 900px;
    bottom: 150px;
}

.mainPicture img {
    width: 370px;
    height: 400px;
}

.mainPicture p {
position: relative;
left: 83px;
font-size: 1.1em;
width: 219px;
background-color: lightgray;
text-decoration: underline;
}

.readpoemsimg {
    position: relative;
    bottom: 410px;
    left: 205px;

}

.readpoemsimg img {
    width: 500px;
    height: 500px;
}

.readpoems {
    position: relative;
    left: 170px;
    bottom: 290px;
}

.readpoems a {
    text-decoration: none;
    font-size: 1.8em;
    color: #830C0C;
}

.linemainpage {
    position: relative;
    border-bottom: 2px solid black;
    width: 900px;
    bottom: 610px;
    left: 300px;

}

.search {
    position: relative;
    bottom: 750px;
    left: 900px;
    width: 100px;
}

.search input {
   background: transparent;
   border: transparent;
}

.searchimg img {
    width: 160px;
    height: 150px;
}

.searchimg {
    position: relative;
    bottom: 1245px;
    left: 1100px;
    width: 200px;
}

.maintitle2 {
    position: relative;
    bottom: 680px;
    left: 295px;
}

.maintitle2 p {
    font-size: 2em;
}

.brieflybio {
    position: relative;
    background-color: #d9d9d9;
    width: 1050px;
    height: 300px;
    bottom: 660px;
    left: 220px;
}

.brieflybio p {
    position: relative;
    font-size: 1.6em;
    left: 80px;
    top: 30px;
    font-weight: lighter;
}

.signature {
    background-color: #EBDFDF;
    position: relative;
    bottom: 650px;
    width: 200px;
    height: 120px;
left: 300px;
}

.signature img {
    width: 190px;
    height: 110px;
}

.sigOfMih {
    width: 290px;
    position: relative;
    bottom: 640px;
    left: 300px;
}

.sigOfMih p {
    font-size: 0.8em;
}