* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  display: flex;
}

.mainDiv {
  height: 2200px;
  margin: auto;
}

.menuwr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Menu {
  position: relative;
  display: flex;
  justify-content: center;
  width: 105%;
  height: 120px;
  background-color: whitesmoke;
  align-items: center;
  border-bottom: 3px solid black;
  /* left: 165px; */
}

.Menu nav {
  padding: 0 30 px;
  text-align: center;
}

.logosettings img {
  width: 70px;
  height: 105px;
  position: relative;
  left: 20px;
}

.Menu nav a {
  color: black;
  text-decoration: none;
  font-size: 1.6em;
  margin: 40px;
  margin-right: 40px;
  transition: 2;
  transition: all 0.5s ease;
}

.Menu nav a:hover {
  color: darkred;
}

.WelcomeOne {
  position: relative;
  top: 120px;
  /* left: 160px; */
  height: 235px;
  background-color: #d9d9d9;
  width: 60%;
}

.WelcomeOne h1 {
  font-size: 2em;
  text-decoration: none;
  font-weight: normal;
  position: relative;
  left: 60px;
}

.WelcomeOne h2 {
  font-size: 1.8em;
  font-weight: lighter;
  position: relative;
  left: 60px;
  font-family: "Karla", sans-serif;
  font-weight: 200;
}

.mainPicture {
  position: relative;
  width: 400px;
  /*left: 900px; */
  bottom: 150px;
  padding-left: 740px;
}

.mainPicture img {
  width: 370px;
  height: 400px;
}

.mainPicture p {
  position: relative;
  left: 83px;
  font-size: 1.1em;
  width: 219px;
  background-color: lightgray;
}

.readpoemsimg {
  position: relative;
  bottom: 410px;
  padding-left: 80px;
}

.readpoemsimg img {
  width: 500px;
  height: 500px;
}

.readpoems {
  position: relative;
  /* left: 170px; */
  bottom: 290px;
  padding-left: 165px;
}

.readpoems a {
  text-decoration: none;
  font-size: 1.8em;
  color: #830c0c;
  transition: all 0.3s ease;
}

.readpoems a:hover {
  color: lightcoral;
}

.linepageW {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linemainpage {
  position: relative;
  border-bottom: 1px solid black;
  border-top: none;
  width: 100%;
  bottom: 590px;
  /* left: 300px; */
}

.search {
  position: relative;
  bottom: 750px;
  /*left: 900px; */
  width: 100px;
  float: right;
}

.search input {
  background: transparent;
  border: none;
  outline: none;
}

.search img {
  right: 4px;
  width: 155px;
  height: 150px;
  z-index: -1;
  position: relative;
  bottom: 83px;
}

.maintitle2 {
  position: relative;
  bottom: 510px;
  /* left: 295px; */
}

.maintitle2 p {
  font-size: 2em;
}

.brieflybio {
  margin: auto;
  position: relative;
  background-color: #d9d9d9;
  width: 1101px;
  height: 300px;
  bottom: 500px;
  /* left: 220px; */
}

.brieflybio p {
  position: relative;
  font-size: 1.6em;
  left: 80px;
  top: 30px;
  font-family: "Karla", sans-serif;
  font-weight: 200;
}

.signature {
  background-color: #ebdfdf;
  position: relative;
  bottom: 490px;
  width: 200px;
  height: 120px;
  /* left: 300px; */
}

.signature img {
  width: 190px;
  height: 110px;
}

.sigOfMih {
  width: 290px;
  position: relative;
  bottom: 490px;
  /* left: 300px; */
}

.sigOfMih p {
  font-size: 0.8em;
}

.footwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footOfSite {
  position: absolute;
  width: 95%;
  height: 455px;
  background-color: #413e3e;
  /*  left: 100px; */
  top: 2200px;
}

.footLogo {
  position: relative;
  bottom: 320px;
  left: -150px;
  width: 80px;
  border-radius: 40px;
  background-color: #d9d9d9;
}

.footLogo img {
  height: 120px;
  width: 80px;
}

.Region {
  width: 350px;
}

.Region p {
  color: white;
  position: relative;
  left: 250px;
  top: 55px;
  font-size: 18px;
}

.Region img {
  width: 30px;
  height: 30px;
  position: relative;
  left: 204px;
  top: 30px;
}

.FootSPW {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 475px;
  top: 100px;
  width: 200px;
}

.FootSPW a {
  color: white;
  font-size: 17px;
  height: 35px;
}

.FootFun {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 210px;
  width: 200px;
  bottom: 5px;
}

.FootFun a {
  color: white;
  font-size: 17px;
  height: 35px;
}

.iframew {
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  position: relative;
  bottom: 350px;
  /* left: 320px; */
  width: 900px;
  height: 500px;
  z-index: 1;
}

.videosline {
  position: relative;
  bottom: 430px;
  /* left: 460px; */
  width: 300px;
  position: relative;
  margin-left: 250px;
}
.videosline img {
  width: 600px;
  z-index: -2;
}

.line2w {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 1350px;
  height: 150px;
  width: 500px;
  margin: auto;
}

.line2 {
  position: relative;
  bottom: 0px;
  /* left: 590px; */
  width: 700px;
}

.line2 img {
  width: 400px;
  z-index: -1;
  position: relative;
  left: 40px;
}

.line2 p {
  color: black;
  position: relative;
  bottom: 220px;
  text-align: center;
}
